/*
Theme Name:     BuddyApp Child
Theme URI:
Description:    Child theme for BuddyApp
Author:         SeventhQueen
Author URI:     http://seventhqueen.com
Template:       buddyapp
Tags:  one-column, two-columns, right-sidebar, fluid-layout, custom-menu, featured-images, post-formats, sticky-post, translation-ready
License: GNU General Public License
License URI: license.txt
*/

/*
* Please add your custom styles below
*/

/*alex code*/
.fb-info img{ height: 32px;  margin-top: 10px;}
.groups-soc-links img{ margin-right: 6px;}

/*.home-page .wpb_row:nth-child(2), .kleo-search-wrap{*/
.alex-search-wrap{
	background: #333;
}

.alex-search-wrap .header-search{ 
	margin: 0 auto; 
	background: #fff;
	padding: 0 15px;
	width: 50%;
}
.alex-search-wrap #searchform{ margin-top: 30px; }

.alex-search-wrap .kleo_ajax_results{
	margin: 15px 20px;
}
    
.register{
	background: url(search-templ/images/5.jpg) !important;
  /*background-size: cover;*/
    background-size: cover !important;
    background-repeat: no-repeat !important;

}
.register #content, .register .main-content{background: none !important; }

.home_form_close{ display: none; }
.home-page .home_form_close{ 
	text-align: right;
    float: right;
    margin: -15px -40px 0 0;
    padding: 0;
    background: none;
    color: #333;
    font-size: 24px;
    display: block;
  }
.home-page .login-page-wrap{ display: none; }
.home-page .show_home_form{
	text-align: center;
    display: block;
    margin-bottom: 20px;
    color: #fff;
}

#alex_tl_grp_id, #alex_groups_user{float: left;}
#alex_tl_grp_id img,#alex_groups_user img{height: 30px; border-radius: 50%;}
#alex_tl_grp_id span,#alex_groups_user span{padding-left: 6px;}
#alex_groups_user{     margin: 0 20px 13px 0; }
/*#alex_groups_user a{ color:#656565 !important;}*/
#alex_groups_user a{ color:#656565;}

/* add backgruound for fields */
#buddypress .standard-form textarea, #buddypress .standard-form input[type=text], #buddypress .standard-form input[type=color], #buddypress .standard-form input[type=date], #buddypress .standard-form input[type=datetime], #buddypress .standard-form input[type=datetime-local], #buddypress .standard-form input[type=email], #buddypress .standard-form input[type=month], #buddypress .standard-form input[type=number], #buddypress .standard-form input[type=range], #buddypress .standard-form input[type=search], #buddypress .standard-form input[type=tel], #buddypress .standard-form input[type=time], #buddypress .standard-form input[type=url], #buddypress .standard-form input[type=week], #buddypress .standard-form select, #buddypress .standard-form input[type=password], #buddypress .dir-search input[type=search], #buddypress .dir-search input[type=text], #buddypress .groups-members-search input[type=search], #buddypress .groups-members-search input[type=text],    
#buddypress form#whats-new-form textarea, 
#buddypress input[type=text], #invite-anyone-by-email textarea,#invite-anyone-by-email input[type=text], .bp-users-reviews-list{
    background-color: rgba(0,0,0,.05) !important;
}

 #timeliner input[type=text], #timeliner textarea, #timeliner select{ 
    /*background: none !important; */
    background-color: rgba(0,0,0,.05) !important;
 }
 #timeliner .readmore {overflow: hidden;}
.bp-users-reviews-list{ padding-left: 8px; }
a#link_edit_timeline{ display: block; margin:20px 0 70px 0; font-weight: bold; }

/* 767px to 861px - fix broken groups header */

/* @media only screen and (min-width: 768px) */
@media only screen and (max-width: 991px){
  .second-menu .second-menu-main .scroll-container-wrapper .scroll-container {
     padding-top: 0; 
  }

  .header-icons>li { padding:0 8px; }

  .profile .right-column-for-widgets{ margin-left: 290px; margin-top: 0 !important;}
}

@media only screen and (max-width: 767px){
  .profile .right-column-for-widgets {clear: both; margin-left: 0; }
}


@media only screen and (min-width: 768px) and (max-width: 991px){

  .basic-menu .has-submenu .submenu {
      position: absolute;
      /*position: relative;*/
      min-width: 250px;    
      max-height: calc( 31vh - 96px );
      background: #fff;
      overflow: auto;
      top:60px;

  }
    .basic-menu .has-submenu .menu-arrow, .basic-menu .has-submenu .menu-arrow:before {
       display: none;
  }
  .basic-menu> li >a { padding: 0 5px; }

 .basic-menu > .has-submenu > .submenu > li ol.todolist li p { color:#000; }
  .header-icons>li{
      min-height: auto;
      overflow: visible;
    }
    .second-menu .second-menu-main .second-menu-section{ flex-direction: row; }
  .second-menu {
      position: static;
      overflow: visible;
      flex-grow: 1;
      order: 2;
  }

  .second-menu .second-menu-main {
      position: relative;
      flex-grow: 1;
  }
  .second-menu .second-menu-main .scroll-container-wrapper {
      position: static;
      display: block;
      height: auto;
  }
  .scroll-container-wrapper .scroll-container { position: static; }
  .scroll-container-wrapper .scroll-container {overflow-y:hidden;}
  .basic-menu{background: none;}

}  

/* custom style for groups */


 .single-item.groups  #item-header-wrap{
    position: static !important;
    width:100% !important;
  }

@media only screen and (min-width: 1200px){
   /*.single-item.groups #buddypress div.item-list-tabs ul li.last#group_members-order-select { margin:0 auto !important; }*/
   /*.single-item.groups div#subnav.item-list-tabs ul, #group-create-tabs.item-list-tabs ul { margin-bottom: 0 !important; }*/
}

@media only screen and (min-width: 992px){
      .profile #buddypress #item-body {  width: calc(100% - 500px); float: left;}

}

@media only screen and (min-width: 767px){
  
    a#link_edit_timeline{ margin-bottom: 254px; }
    .single-item.groups .main-content{ padding-top: 0 !important; }

   .single-item.groups #buddypress div#object-nav.item-list-tabs {
        overflow: hidden;
        background: transparent;
        float: left;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        min-height: 45px;
    }

    .single-item.groups #buddypress div#object-nav {
        position: relative;
    }

    .single-item.groups #buddypress div#object-nav.item-list-tabs ul li{
        display: inline-block;
      } 

    .single-item.groups .buddypress.bp-is-single .main-content { padding: 0; }

    .single-item.groups #buddypress div#item-nav { padding: 0;}

    .single-item.groups #item-body {margin-left: 0; }
    .single-item.groups #buddypress #item-header-wrap div.item-list-tabs ul li a > span{position: static;}
    .single-item.groups .bp-page-title {margin-top: 25px !important; }
    .single-item.groups.group-members div#subnav.item-list-tabs {   width:auto !important; }
    .single-item.groups div#subnav.item-list-tabs {
      /*margin-top: 25px !important;*/
     }

     /* compress header on Groups for full screen */
    
    .single-item.groups  #item-header h2, .single-item.groups #item-header span,  
    .single-item.groups #item-header .wrap_soclinks, .single-item.groups .city_state { display: none; }
    .single-item.groups #buddypress .wrap-custom-grp{width:400px; margin:0 auto;}
    .single-item.groups #buddypress .wrap-custom-grp .city_state{ display: block; width: 220px; }
    .single-item.groups #buddypress .custom-grp-margin{ margin-left: -25px; }
    .single-item.groups #buddypress div#custom-item-header-avatar img{ margin-top: -12px;}
    /*.single-item.groups #buddypress div#custom-item-header-avatar img{ margin-top: -25px;}*/
    .single-item.groups #buddypress div#custom-item-header-avatar { width:120px; float:left;}
    .single-item.groups #buddypress .wrap-custom-grp .gr_texts{text-align: left; margin-left: 150px !important;}
    .single-item.groups #item-header .wrap-custom-grp h2, .single-item.groups #item-header .wrap-custom-grp span,
    .single-item.groups #buddypress .wrap-custom-grp .wrap_soclinks{ display: block; }
    .single-item.groups #buddypress .wrap_soclinks span { display: inline; }
    .single-item.groups #buddypress #item-meta { margin-top: 5px !important; }
    .single-item.groups div#item-header div#item-meta p { width:50%; margin:0 auto;}
    .single-item.groups #buddypress div.item-list-tabs#subnav ul li.last {margin-top: 23px;}
     .single-item.groups.group-members #buddypress div#subnav.item-list-tabs { float: right; }


    .single-item.groups #buddypress div#item-header-avatar {
        display: none;
        /*display: inline-block;*/
        width: 100%;
    }
    .single-item.groups #buddypress div#item-header-avatar a {
        position: absolute;
        /*top: 20px;*/
        top: 8px;
        /*left: 26%;*/
        left: 10%;
    }
    .single-item.groups #buddypress div#item-header { padding-bottom: 0; }
    .single-item.groups #buddypress div#subnav.item-list-tabs ul {margin-bottom: 15px;}
    .single-item.groups #buddypress #subnav.item-list-tabs ul a {padding-bottom: 0; padding-top: 4px;}
    .single-item.groups .breadcrumb{ padding: 0; }
    .single-item.groups #buddypress div#item-header ul {margin-bottom: 6px;}

    .single-item.groups #item-header #item-meta span{ display: inline; }

    /* compress header on Groups for full screen *** */

    /* *****styles for group widgets in right sidebar***** */

    /*.single-item.groups #buddypress ul.item-list,.single-item.groups #buddypress form#whats-new-form,*/
    .single-item.groups #buddypress #item-body{ 
      width: calc(100% - 250px); float: left; }
   /*.single-item.groups #buddypress .sidebar, .profile #buddypress .sidebar {*/
    .right-column-for-widgets{
          float: left; margin-top: 28px; border-top:0; width:250px;
   }
     .single-item.groups #buddypress .sidebar .widget, .profile #buddypress .sidebar .widget
     .right-column-for-widgets .widget {clear: both; overflow: hidden;}
    /*.single-item.groups #buddypress .sidebar ul * {float: none; clear: both;}*/

    /* *****styles for group widgets in right sidebar***** */

}

.single-item.groups .city_state {padding-top:10px; text-transform: uppercase; text-align: center;}
.single-item.groups #buddypress .group-admins{ width:100% !important; }
.single-item.groups #buddypress #item-meta p{ margin-bottom: 5px !important; }
#buddypress .activity .rating{display: block;}
#buddypress .activity .rating img{display: inline; padding: 0;}
#buddypress .standard-form input[type=url]{width:75%;}

/* for plugin bp group reviews */

#buddypress .star-holder {display: table; margin:0 auto;}
#buddypress span.rating-num { display: none !important; }
.single-item.groups #buddypress #group-reviews form { clear: both; }
.single-item.groups #buddypress #group-reviews .already-rated *{ margin-left: 0; }
.single-item.groups #buddypress #group-reviews .already-rated p{
   font-size: 0.9em !important; padding-top: 10px; font-style: normal; 
  /*font-family: 'Open Sans', sans-serif; */
}
.single-item.groups #buddypress #group-reviews .rest-stars{ left: 10px; right: 0;}
.single-item.groups #buddypress .review-form .rtmedia-container {display: none;}
#buddypress span.rating {  unicode-bidi: initial; direction: initial;}
/*.single-item.groups #buddypress #group-reviews blockquote { margin-left: 0; }*/
#buddypress .activity-content .activity-meta .acomment-reply span{color:#fff;}

/* for plugin bp group reviews */

/*.single-item.groups */
#buddypress .sidebar ul.item-list#members-list li{ width:100%; padding: 0 !important; text-align: left;}
/*.single-item.groups */
#buddypress .sidebar ul.item-list#members-list li .item{ padding: 0 !important;}
/*.single-item.groups */
#buddypress .sidebar div.item-meta{ display: block !important; }
/*.single-item.groups */
#buddypress .sidebar span.activity{ display: inline-block !important; }


@media only screen and (max-width: 766px){
  .single-item.groups #buddypress .wrap-custom-grp{display: none;}
  #buddypress .profile div.bp-widget.info { float: none; width:100%;}
}
@media only screen and (min-width: 900px){
   .groups #buddypress div#item-header-avatar a { left: 14%; }
}
@media only screen and (min-width: 1000px){
   .groups #buddypress div#item-header-avatar a { left: 21%; }
}
@media only screen and (min-width: 1200px){
   .groups #buddypress div#item-header-avatar a { left: 27%; }
}

.single-item.groups #buddypress .item-list-tabs .groups-members-search{display: none !important;}

/* custom style for groups */


/* custom register */

/*.register .kleo-login-wrap .login-shadow-wrapper{ background: #fff; }*/
.register {color: #00c5af;}
.register a, .register p, .register #register-page form.standard-form input{ color:#fff; }
.register h4, .register .kleo-register-link {color:#cddc39 !important;}
.register #buddypress.kleo-login-wrap .fb-or-section span {background: #000; border-color: #000; color:#fff;}
.register #buddypress.kleo-login-wrap .fb-or-section {border-color:#000;}
.register .wrap-reg-close {position: relative; padding: 0 !important; }
.register .before-login-form-wrapper .reg-close{ 
  position: absolute; 
  top:-6px; right:-30px;
  color: #fff;
  font-size: 24px;
  display: block;
}
.register #register-page .field-visibility-settings-toggle{color:#fff;}
.register #register-page form.standard-form .editfield .description {color: #00c5af;}
.register fieldset legend {background: none; color:#fff;}

/* custom register */

/* **custom bp-users-reviews** */

.bp-users-reviews-list img{ border-radius: 50%; }
.bp-users-reviews-list .author{ font-size: 11px; font-style: italic; }
.bp-users-reviews-list .author a{ font-size: 13px; color:#000; font-style: normal;}
.bp-users-reviews-list .review .author { padding: 35px; border-bottom: none; background-color: #fff;}
.bp-users-reviews-list .review .details { border-bottom: 5px solid #fff;}
.bp-users-reviews-list .review .details .rating .text { font-size: 12px;}
.bp-user-reviews textarea {background-color: #edeee6 !important; }

/* **custom bp-users-reviews** */

/* **custom member details** */
#buddypress .profile .bp-widget .field-name {font-size: 18px; color: #00796b; text-transform: uppercase;}
#buddypress .profile .bp-widget a { color:#656565;}
/*#buddypress .profile .bp-widget a:hover, #buddypress .profile .bp-widget a:visited { color:#ff2a5b;}*/
#buddypress .profile .bp-widget a:hover { color:#ff2a5b !important;}
#buddypress .profile table tr { background: #ccc;}
#buddypress .profile table td p { font-size: 20px !important; text-align: center;}
/*#buddypress .profile table.field-avail{border: 3px solid #ccc; width:80%;}*/
.wrap_field-avail{ position: relative; }
#buddypress .profile table.field-avail{border:0 !important; background: transparent; }
#buddypress .profile table.field-avail a{color: #656565 !important; font-size: 15px !important;}
#buddypress .profile table.field-avail td.data{border: 3px solid #ccc; background: #fff; padding: 0; vertical-align: top;}
#buddypress .profile table.field-avail td.data p{ line-height: 1; padding-top: 10px;}
#buddypress .profile table.field-avail td.verify{ border: none !important; padding: 0; width:65px; padding-left: 5px; cursor: pointer;}
/*#buddypress .profile table.field-avail td.verify span{ display: none;}*/
/*#buddypress .profile table.field-avail td.verify:hover span{ */
.wrap_field-avail .sec_mouseover{
    display: none;
    position: absolute;
    top: -28px;
    font-size: 11px;
    right: 0;
    border: 1px solid #dcbd60;
    padding: 3px 6px;
  }
}
#buddypress .profile table.field-avail a{font-size: 14px;}
#buddypress .profile table.field-avail tr{ background: none; }
#buddypress .profile table.field-avail tr td{ padding-top: 15px; }
#buddypress .profile table.mission tr td, #buddypress .profile table.mission{ border:none; }
#buddypress .profile .bp-widget.info, #buddypress .profile .bp-widget.details{ width:50%; }
#buddypress .profile .bp-widget.info{ float:right; }
#buddypress .profile .bp-widget.details *{padding: 0; margin:0; color: #000 !important; }
#buddypress .profile .bp-widget.details a,#buddypress .profile .bp-widget.details p{font-size: 18px; line-height: 1.4;}
#buddypress .profile .bp-widget.details h2 a{ 
  font-size: 23px; 
  font-weight: 600;
}
#buddypress .profile table td p { line-height: 1.2; }
#buddypress .profile table .data span {    
    background: #ccc;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }

/* **custom member details** */


/* *****for login form on register page******* */

.register .alex-simple-form .login-form-wrapper{
  background: none;
}
.register .alex-simple-form { overflow: hidden;}
.register .alex-simple-form .fancy-checkbox{ display: none;}
.register .alex-simple-form *{ color: #00c5af !important;}
.register .alex-simple-form button{ color:#fff !important; }
.register .alex-simple-form .login-form-wrapper{
     padding-top: 10px !important; padding-bottom: 30px !important;
}
.register .alex-simple-form .kleo-login-wrap{ margin:0 auto !important;}
.register #buddypress .alex-simple-form .kleo-form-signin input {  	background-color: rgba(0, 0, 0, 0.25) !important; }
@media only screen and (min-width: 768px){
  .register .alex-simple-form .kleo-login-wrap {
    width:50%;
 }
}

/* *****for login form on register page******* */

/* **** modal popup for to show description security verified field ****** */

/*.profile .mfp-content {*/
.profile #security_desc{
  padding: 25px; position: relative;
   border-radius: 10px;
  width: 80%;
  margin:auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+23,cccccc+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 23%, #cccccc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 23%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#ffffff 23%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.profile #security_desc .mfp-close{ position: absolute; right: -12px; top:-12px; line-height: 1.3;
  opacity: 1;
  background: #2d2727;
  color: #fff;
  width: 28px;
  font-size: 22px;
  border-radius: 15px;
}

/* **** modal popup for to show description security verified field ****** */
.text_between_memb_and_gr{margin-bottom: 5px;}
#header-cover-image{ background-size: cover !important; }

/*#user-reviews i:before, .icon-panorama-fisheye:before{  content: "\e902"; }
#user-invite-anyone i:before{ content: "\e70e"; }*/
/*#wpadminbar, #header,*/
/*#item-header-wrap{display:none !important;}*/
